<!doctype html>
<html lang="en" ng-app="studentRoster">
<head>
  <meta charset="UTF-8">
  <title>Sign In App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="services/StudentsFactory.js"></script>
  <script src="controllers/StudentsController.js"></script>
  <script src="controllers/SignInController.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
    <div ng-controller="StudentsCtrl">
      <h2>Enter your Name</h2>
      <form ng-submit="StudentsFactory.signIn()" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" ng-model="StudentsFactory.studentName" class="form-control" id="student-name" placeholder="Enter name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  <div ng-controller="SignInCtrl">
    <div ng-show="notSignedIn.length">
      <h3>Not Signed In</h3>
        <ul ng-repeat="item in notSignedIn = (list | filter: { signedIn: false })">
          {{item.name}} <a ng-click="signStudentIn(item)"><button class='btn btn-primary'>Sign In</button></a>
        </ul>
    </div>
    <div ng-show="studentsSignedIn.length">
      <h3>Signed In</h3>
        <ul ng-repeat="item in studentsSignedIn = (list | filter:{signedIn: true})">
          {{item.name}}<a ng-click='signStudentOut(item)'><button class='btn btn-warning'>Sign Out</button></a>
        </ul>
    </div>
  </div>
</div>
</body>
</html>
